    <div class="modal-body">
<?php echo $this->content ?>
    </div>
    <div class="modal-footer" style="padding:10px 5px 5px;">
<?php foreach($this->buttons as $button): ?>
<?php if($button['click'] == 'close'): ?>
        <button type="button" class="<?php echo $button['class'] ?>" onclick="$.pgwModal('close')"><?php echo $button['title'] ?></button>
<?php else: ?>
        <button type="button" class="<?php echo $button['class'] ?>" onclick="<?php echo $button['click'] ?>"><?php echo $button['title'] ?></button>
<?php endif ?>
<?php endforeach ?>
    </div>
