    <div id="styledModal" class="modal modal-styled">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><?php echo $this->title ?></h3>
                </div>
                <div class="modal-body">
<?php echo $this->content ?>
                </div>
                <div class="modal-footer">
<?php foreach($this->buttons as $button): ?>
<?php if($button['click'] == 'close'): ?>
                    <button type="button" class="<?php echo $button['class'] ?>" data-dismiss="modal"><?php echo $button['title'] ?></button>
<?php else: ?>
                    <button type="button" class="<?php echo $button['class'] ?>" onclick="<?php echo $button['click'] ?>"><?php echo $button['title'] ?></button>
<?php endif ?>
<?php endforeach ?>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
